* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f0f2f0;
    color: #5f5f5f;
}

a {
    text-decoration: none;
    color: #5f5f5f;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 60px;
    margin-right: 15px;
    display: block;
}

.navbar-center ul li {
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}

.navbar-center ul li a img {
    width: 30px;
}

.navbar-center ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #045be6;
    position: absolute;
    bottom: -15px;
    transition: width 0.4s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after {
    width: 100%;
}

.nav-profile-img {
    width: 60px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    right: 8px;
    top: 0;
    background: #41db51;
    position: absolute;
}

.search-box {
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.search-box img {
    width: 20px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}


/*------------Navbar End-------------*/

.container {
    padding: 10px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*.............left sidebar..........*/

.left-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 75px;
}

.sidebar-profile-box {
    background: #fff;
}

.sidebar-profile-box img {
    width: 50vh;
}

.sidebar-profile-info {
    padding: 0 25px;
}

.sidebar-profile-info img {
    width: 90px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -45px;
}

.sidebar-profile-info h1 {
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.sidebar-profile-info h3 {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.sidebar-profile-info ul {
    list-style: none;
    margin: 20px 0;
}

.sidebar-profile-info ul li {
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}

.sidebar-profile-info ul li span {
    float: right;
    color: #045be6;
}

.sidebar-profile-links {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.sidebar-profile-links a {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
    border-left: 1px solid #ccc;
}

.sidebar-profile-links a:first-child {
    border-left: 0;
}

.sidebar-profile-links a img {
    width: 20px;
    margin-right: 10px;
}

.sidebar-activity {
    background: #fff;
    padding: 5px 25px;
    margin: 12px 0;
}

.sidebar-activity h3 {
    color: #777;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebar-activity a {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}

.sidebar-activity a img {
    width: 22px;
    margin-right: 10px;
}

.discover-more-link {
    border-top: 1px solid#ccc;
    text-align: center;
    margin-top: 20px;
    margin-right: -25px;
    margin-left: -25px;
}

.discover-more-link a {
    color: #045be6;
    display: inline-block;
    margin: 10px 0;
}


/*.............right sidebar..........*/

.right-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 75px;
}

.sidebar-news {
    background: #fff;
    padding: 10px 15px;
}

.sidebar-news h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}

.sidebar-news a {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
}

.sidebar-news span {
    font-size: 12px;
}

.read-more-link {
    color: #045be6;
    font-weight: 500;
    margin: 20px 0 10px;
}

.info-icon {
    width: 15px;
    float: right;
    margin-top: 15px;
}

.sidebar-ad {
    background: #fff;
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
}

.sidebar-ad small {
    float: right;
    font-weight: 500;
}

.sidebar-ad p {
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebar-ad b {
    display: block;
    font-weight: 500;
    margin-top: 10px;
}

.sidebar-ad img {
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}

.sidebar-useful-links {
    padding: 15px 25px;
    text-align: center;
}

.sidebar-useful-links a {
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
}

.copyright-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}

.copyright-msg img {
    width: 20px;
    margin-right: 4px;
}


/*..............main-content........*/

.main-content {
    flex-basis: 47%;
}

.create-post {
    background: #fff;
}

.create-post-input {
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}

.create-post-input textarea {
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-top: 8px;
}

.create-post-input img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

::placeholder {
    font-weight: 500;
}

.creat-post-links {
    display: flex;
    align-items: flex-start;
}

.creat-post-links li {
    list-style: none;
    border-top: 1px solid #ccc;
    flex-basis: 25%;
    border-right: 1px solid #ccc;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.creat-post-links li img {
    width: 20px;
    margin-right: 5px;
}

.creat-post-links li:last-child {
    background: #045be6;
    color: #fff;
    border-top: 0;
    border-right: 0;
    font-weight: 600;
}

.sort-by {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sort-by hr {
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}

.sort-by p {
    font-size: 13px;
    padding-left: 5px;
}

.sort-by p span {
    font-weight: 600;
    cursor: pointer;
}

.sort-by p span img {
    width: 12px;
    margin-left: 3px;
}

.post {
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
}

.post-author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-author img {
    width: 55px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.post-author h1 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.post-author small {
    display: block;
    margin-top: 3px;
}

.post p {
    font-size: 14px;
    margin-bottom: 15px;
}

.post-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 12px;
    border-bottom: 1px solid#ccc;
    padding-bottom: 6px;
}

.comment span {
    margin-left: 50px;
}

.liked-users {
    margin-left: 10px;
}

.post-stats div {
    display: flex;
    align-items: center;
}

.post-stats img {
    width: 15px;
    margin-right: 5px;
}

.post-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.post-activity div {
    display: flex;
    align-items: center;
}

.post-activity-user-icon {
    width: 22px;
    border-radius: 50%;
}

.post-activity-arrow-icon {
    width: 12px;
    margin-left: 5px;
}

.post-activity-links img {
    width: 22px;
    margin-right: 8px;
}


/*-------------- Profile Drop Down Menu------------------ */

.profile-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-menu-wrap.open-menu {
    max-height: 400px;
}

.profile-menu {
    background: #222;
    color: #fff;
    padding: 20px;
    margin: 10px;
}

.profile-menu-link:hover {
    font-size: 1.1rem;
    color: #045be6;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
    margin-bottom: 7px;
}

.user-info a {
    color: #11ddbb;
    font-weight: 500;
    font-size: 15px;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 15px 0 10px;
}

.profile-menu-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    margin: 10px;
}

.profile-menu-link p {
    width: 100%;
}

.profile-menu-link img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}


/*---------------------Profile Page------------------*/

.profile-main {
    flex-basis: 73%;
}

.profile-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.profile-container {
    background: #fff;
}

.profile-container-inner {
    padding: 0 4% 10px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background: #fff;
}

.profile-container h1 {
    font-size: 28px;
    font-weight: 600;
    color: #222;
}

.profile-container b {
    font-weight: 300;
}

.profile-container p {
    margin-top: 5px;
}

.profile-container a {
    color: #045be6;
    font-weight: 500;
}

.mutual-connection {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.mutual-connection img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-btn {
    margin: 20px;
}

.profile-btn a {
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 10px;
}

.profile-btn a img {
    width: 18px;
    margin-right: 5px;
}

.profile-btn .primary-btn {
    background: #045be6;
    color: #fff;
}

.profile-description {
    background: #fff;
    padding: 20px 4% 30px;
    margin: 12px 0;
}

.profile-description h2 {
    color: #333;
    margin: 10px 0 20px;
    margin: 600;
}

.see-more-link {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #045be6;
    margin-top: 10px;
}

.profile-desc-row {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.profile-desc-row img {
    width: 50px;
    margin-right: 25px;
}

.profile-desc-row div {
    width: 100%;
}

.profile-desc-row p {
    margin-top: 15px;
}

.profile-desc-row h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.profile-desc-row hr {
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 10px;
}

.profile-desc-row b {
    display: block;
    font-weight: 500;
}

.experience-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-weight: 500;
}

.experience-link img {
    width: 20px;
    margin-left: 8px;
}

.skills-btn {
    display: inline-block;
    margin: 10px 10px;
    padding: 6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
}

.language-btn {
    display: inline-block;
    margin: 15px 10px;
    padding: 6px 18px;
    background: #e4e6eb;
    font-size: 12px;
}


/*----------------------Profile Rigt Sidebar---------------*/

.sidebar-people {
    background: #fff;
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 12px;
}

.sidebar-people h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 20px;
}

.sidebar-people-row {
    display: flex;
    align-items: flex-start;
    margin: 6px 0;
}

.sidebar-people-row img {
    margin-right: 8px;
    margin-top: 5px;
    width: 40px;
    border-radius: 50%;
}

.sidebar-people-row h2 {
    font-weight: 500;
    font-size: 16px;
}

.sidebar-people-row a {
    display: inline-block;
    margin: 10px 0;
    padding: 5px 25px;
    border: 1px solid #045be6;
    border-radius: 30px;
    font-weight: 500;
}

a.learn-more {
    display: inline-block;
    margin: 10px 0;
    padding: 5px 25px;
    border: 1px solid #045be6;
    border-radius: 30px;
    font-weight: 500;
}

.profile-footer {
    padding: 0 6% 30px;
}

.profile-footer.useful-links {
    text-align: left;
    padding: 0;
}

.profile-footer .copyright-msg {
    justify-content: flex-start;
}